<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="bi bi-hospital"></i> Gestion RV Médicaux
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dash" routerLinkActive="active"><i class="bi bi-speedometer2"></i> Tableau de bord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/nouveau-patient" routerLinkActive="active"><i class="bi bi-person-plus"></i> Nouveau Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/form-demande" routerLinkActive="active"><i class="bi bi-calendar-plus"></i> Demander RV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mes-demandes" routerLinkActive="active"><i class="bi bi-list-ul"></i> Mes Demandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mes-rv" routerLinkActive="active"><i class="bi bi-calendar-check"></i> Mes RV</a>
                </li>
            </ul>
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i> Patient
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> Profil</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Paramètres</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i> Déconnexion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
